<h1 id="logintitle">The Millionaire</h1>

<% if @error %>
 <%= @error %><br />
<% end %>

<div id="login">
<%= form_tag session_url do %>
  <%= label :user_id, '' %>
  <%= text_field_tag :user_id, @user_id ,:placeholder => "ID" %><br />
  <%= label :password, '' %>
  <%= password_field_tag :password, "" ,:placeholder => "Password" %><br />
  <%= submit_tag "Login" %><br />
<% end %>
</div>
アカウントをお持ちでない方は
<%= link_to "こちら", new_user_url %>
