<h1>The Millionaire</h1>

<% if @error %>
 <%= @error %><br />
<% end %>

<%= form_tag session_url do %>
  <%= label :user_id, '' %>
  <%= text_field_tag :user_id, @user_id ,:placeholder => "Enter your ID" %><br />
  <%= label :password, '' %>
  <%= password_field_tag :password, "" ,:placeholder => "Enter your Password" %><br />
  <%= submit_tag "Login" %><br />
<% end %>
アカウントをお持ちでない方は
<%= link_to "こちら", new_user_url %>
